.right{
        float: right;
 
}

div.r-text {
    text-align: right;
  }

.r-text {
    text-align: right ;
  }

.toRight{
    text-align: right;
    float:right;
}  

.ui.modal>.actions {
    text-align: left;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.20);
}

.gm-style .gm-style-iw-d::-webkit-scrollbar{
  height: 0;
  width: 0;
}
.element.style {
  padding-left: 0;
  padding-bottom  : 0;
}
.right-to-left {
  display:block;
  direction:rtl;
  unicode-bidi:bidi-override
  }