.right{
        float: right;
 
}

div.r-text {
    text-align: right;
  }

.r-text {
    text-align: left ;
  }

.toRight{
    text-align: right;
    float:right;
}  

.ui.modal>.actions {
    text-align: left;
}

.ui.dimmer {
  background-color: rgba(0, 0, 0, 0.20);
}
